[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/juce"]
	path = submodules/juce
	url = https://github.com/juce-framework/JUCE
[submodule "submodules/taglib"]
	path = submodules/taglib
	url = https://github.com/taglib/taglib
[submodule "submodules/mp3gain"]
	path = submodules/mp3gain
	url = https://github.com/kozacsaba/mp3gain.git
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib.git
